<div class="mapie-bloc">
  <div class="mapie-answer">
    <img class="avatar mapie-avatar" src="https://i.pravatar.cc/48?img=4" alt="">
    <p><%= @question %></p>
  </div>
  <p class="user-small-text">Mapie</p>
</div>

<div class="coach-bloc">
  <div class="coach-answer">
    <img class="avatar coach-avatar" src="https://i.pravatar.cc/48?img=3" alt="">
    <p><%= @answer %></p>
  </div>
  <p class="user-small-text">Coach</p>
</div>

<p class="link-style"><%= link_to "Poser un autre question", ask_path%></p>
